.home-container {
    display: flex;
    height: 100%;
    padding-top: 4.9rem;
    padding-bottom: 0.5rem;

    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.home-left, .home-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0.5rem;
}

.home-left {
    flex-direction: column;
}

.home-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 9rem 4rem 9rem;

    color: var(--dark-green);
    text-align: center;
}

.home-sign h1 {
    margin: 0;
    font-size: 3rem;
}

.home-sign p {
    font-size: 2rem;
}

.home-bunny {
    margin-left: 2rem;

    background-size: contain;
    background-repeat: no-repeat;

    width: 28%;
    height: auto;
}

.home-bunny img {
    width: 100%;
    height: auto;
}

.home-market {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.home-crates {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 4rem;

    position: relative;
    top: 57%;
    left: 20.5%;
    width: 59%;
    height: 40%;
}

.home-crate {
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 1.1rem;
    width: auto;
    height: auto;
    max-width: 14rem;

    cursor: pointer;
    text-align: center;
    color: var(--dark-green);
}

.home-crate:first-child, .home-crate:nth-child(3) {
    background-position: right;
}

.home-crate:nth-child(2), .home-crate:last-child {
    background-position: left;
}

.home-crate-header {
    margin: 0 auto;
}

.home-crate-icon {
    width: 14%;
    height: auto;
}

/* For 2k resolutions and up */
@media screen and (min-height: 1100px) {

    /* Left side - Bunny and Sign */
    .home-sign {
        padding: 0 6.8rem 6.5rem 6.8rem;
    }

    .home-sign h1 {
        font-size: 5rem;
    }

    .home-sign p {
        font-size: 3rem;
    }

    /* Right side - Market */
    .home-crate {
        padding-top: 2.3rem;
    }

    .home-crate-header {
        font-size: 1.5rem;
    }

    .home-crate-icon {
        width: 20%;
    }
}

/* Width Adjustments for full page */
@media screen and (max-width: 1647px) {

    /* Left side - Bunny and Sign - Now on top */
    .home-sign {
        max-width: 35rem;
        padding: 0 2rem 4rem 2rem;
    }

    .home-bunny {
        width: 38%;
        height: auto;
    }

    /* Right side - Market - Now on the bottom */
    .home-market {
        max-width: 35rem;
    }

    .home-crates {
        position: relative;
        top: 56%;
        left: 18.5%;
        width: 63%;
        height: 40%;
        max-height: 13rem;
    }

    .home-crate-header {
        margin: 0 auto;
        word-wrap: break-word;
        font-size: 1rem;
    }

    .home-crate-icon {
        display: none;
    }
}

@media screen and (max-width: 1210px) {
    .home-container {
        flex-direction: column;
        gap: 3rem;
        padding-top: 4rem;
        overflow-y: scroll;
    }

    /* Left side - Bunny and Sign - Now on top */
    .home-left {
        min-height: 80vh;
    }

    .home-sign {
        max-width: 29rem;
        min-height: 16rem;
        padding: 0 3rem 2.2rem 3rem;
    }

    .home-sign h1 {
        font-size: 1.88rem;
    }

    .home-sign p {
        font-size: 1.23rem;
        padding: 0 !important;
    }

    .home-bunny {
        width: auto;
        height: 100%;
        max-width: 18rem;
        position: relative;
    }

    /* Right side - Market - Now on the bottom */
    .home-right {
        min-height: 47vh;
    }

    .home-market {
        max-width: 24rem;
        margin-bottom: 1rem;
    }

    .home-crates {
        row-gap: 0.5rem;
        column-gap: 1rem;

        position: relative;
        left: 20.5%;
        width: 63%;
        height: 40%;
        max-width: 250px;
        max-height: 169px;
    }

    .home-crate {
        padding: 0.1rem 1rem 0 1rem;
    }
}

@media screen and (max-width: 485px) {
    .home-sign {
        padding: 0 1.5rem 3rem 1.5rem;
    }

    .home-sign h1 {
        font-size: 1.5rem;
    }

    .home-sign p {
        margin: 0;
    }
}

/* Common Mobile Resolution */
@media screen and (max-width: 420px) {
    .home-container {
        padding-top: 2rem;
    }

    .home-sign {
        padding: 0 1.5rem 4.75rem 1.5rem;
    }

    .home-sign h1 {
        font-size: 1.5rem;
        line-height: 1;
    }

    .home-sign p {
        font-size: 1.23rem;
    }

    .home-bunny {
        width: 50% !important;
    }

    .home-crates {
        row-gap: 0.5rem;
        column-gap: 1rem;

        position: relative;
        top: 54.5%;
        left: 17%;
        width: 65%;
        height: 30%;
    }

    .home-crate:first-child, .home-crate:nth-child(2), .home-crate:nth-child(3), .home-crate:last-child {
        padding: 0.2rem 1.5rem 0 1.5rem !important;
    }
}

/* Height Adjustments for Crate Text */
@media screen and (max-height: 910px) {
    .home-sign {
        min-height: 17rem;
    }

    .home-sign h1 {
        font-size: 2rem;
    }

    .home-sign p {
        padding: 0 8rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-height: 880px) {
    .home-crate-header {
        font-size: 1.2rem;
    }

    .home-crate:first-child, .home-crate:nth-child(3) {
        padding-left: 1rem;
        padding-top: 0.4rem;
    }

    .home-crate:nth-child(2), .home-crate:last-child {
        padding-right: 1rem;
        padding-top: 0.4rem;
    }
}

@media screen and (max-height: 820px) {
    .home-crate-header {
        font-size: 1.1rem;
    }

    .home-crate:first-child, .home-crate:nth-child(3) {
        padding-left: 2.2rem;
        padding-top: 0.5rem;
    }

    .home-crate:nth-child(2), .home-crate:last-child {
        padding-right: 2.2rem;
        padding-top: 0.5rem;
    }
}

@media screen and (max-height: 760px) {
    .home-crate-header {
        font-size: 1rem;
    }

    .home-crate:first-child, .home-crate:nth-child(3) {
        padding-left: 3.4rem;
        padding-top: 0.6rem;
    }

    .home-crate:nth-child(2), .home-crate:last-child {
        padding-right: 3.4rem;
        padding-top: 0.6rem;
    }
}

@media screen and (max-height: 700px) {
    .home-sign {
        padding-top: 1.5rem;
        min-height: 18rem;
    }

    .home-sign h1 {
        margin: 0;
        font-size: 2rem;
    }

    .home-sign p {
        padding: 0 8rem;
        font-size: 1.5rem;
    }

    .home-bunny {
        width: 18%;
    }

    .home-market {
        min-height: 31rem;
    }

    .home-crate-header {
        font-size: 0.8rem;
    }

    .home-crate:first-child, .home-crate:nth-child(3) {
        padding-left: 4.6rem;
        padding-top: 0.7rem;
    }

    .home-crate:nth-child(2), .home-crate:last-child {
        padding-right: 4.6rem;
        padding-top: 0.7rem;
    }
}

/* This is for screen adjustment 100% -> 125% */
@media (-webkit-device-pixel-ratio: 1.25) {
    :root {
        zoom: 0.8 !important;
    }

    .home-crate-header {
        font-size: 1.5rem !important;
        width: 79%;
    }

    .home-crate {
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
    }
}