.main-container {
    box-sizing: border-box;
    display: flex;
    background-image: url(alphabet_garden_BG_shadow_v1.png);
    background-size: 111%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: left;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: nowrap;
}

#concept {
    color: var(--dark-green);
    font-weight: 400;
    font-family: var(--font-family);
    font-size: 4rem;
    position: absolute;
    top: 30%;
    right: 40%;
}

.left-main-box {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
    align-content: center;
    padding-bottom: 2%;
}

#bunny_container {
    box-sizing: border-box;
    padding-left: 3%;
    display: flex;
    height: 42%;
    flex-direction: row;
}

#bunny {
    height: 100%;
    width: 35%;
}

#wood_sign {
    height: 100%;
    width: 50%;
    flex-grow: 1;
}

#speech_container {
    box-sizing: border-box;
    height: 50%;
    padding: 16% 15% 0 15%;
}

#speech_bubble {
    width: 100%;
    height: 100%;
}

#A0 {
    top: 29.2%;
    left: 9.3%;
}

#A1 {
    top: 29.2%;
    left: 22.5%;
}

#A2 {
    top: 29.2%;
    left: 35.8%;
}

#A3 {
    top: 29.3%;
    left: 49%;
}

#A4 {
    top: 29.2%;
    left: 62%;
}

#A5 {
    top: 29.2%;
    left: 75%;
}

#A6 {
    top: 42.6%;
    left: 9.3%;
}

#A7 {
    top: 42.6%;
    left: 22.5%;
}

#A8 {
    top: 42.6%;
    left: 35.8%;
}

#A9 {
    top: 42%;
    left: 49%;
}

#A10 {
    top: 42.6%;
    left: 62%;
}

#A11 {
    top: 42.6%;
    left: 75%;
}

#A12 {
    top: 55.7%;
    left: 9.3%;
}

#A13 {
    top: 55.7%;
    left: 22.5%;
}

#A14 {
    top: 55.7%;
    left: 35.8%;
}

#A15 {
    top: 55.7%;
    left: 49%;
}

#A16 {
    top: 55.7%;
    left: 62%;
}

#A17 {
    top: 55.7%;
    left: 75%;
}

#A18 {
    top: 68%;
    left: 9.3%;
}

#A19 {
    top: 68%;
    left: 22.5%;
}

#A20 {
    top: 68%;
    left: 35.8%;
}

#A21 {
    top: 68%;
    left: 49%;
}

#A22 {
    top: 68%;
    left: 62%;
}

#A23 {
    top: 68%;
    left: 75%;
}

#A24 {
    top: 81%;
    left: 9.5%;
}

#A25 {
    top: 81%;
    left: 22.5%;
}

#A26 {
    top: 81%;
    left: 35.8%;
}

#A27 {
    top: 81%;
    left: 49%;
}

#A28 {
    top: 81%;
    left: 62%;
}

.right-main-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    color: var(--dark-green);
    position: relative;
    width: 60%;
    height: 100%;
}

.letter {
    position: absolute;
    opacity: 1;
    text-align: center;
    cursor: grab;
    height: 3.3rem;
    width: 3.3rem;
    font-size: 3rem;
    transition: all 0.1s;
    transition-timing-function: ease-in;
}

.letter:hover {
    opacity: 1;
    transform: translateY(-0.1rem);
}

.bg_container {
    position: relative;
    width: 100%;
    height: 72.8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    transition: all 0.1s;
    transition-timing-function: ease-in;
}

.bg_row {
    display: flex;
    flex-shrink: 1;
    padding-right: 9.7%;
}

.right-main-box img {
    height: 4.7rem;
    width: 4.7rem;
    margin: 0.55rem 1.41rem;
    opacity: 1;
}

/* This is for the last bg box */
.bg_container span {
    height: 4.6rem;
    width: 4.6rem;
    margin: 0.55rem 1.41rem;
}

.bg_img:hover {
    transform: translateY(-0.2rem);
}