.main-container {
    box-sizing: border-box;
    display: flex;
    background-size: 116%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: left;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: nowrap;
}

.concept-text {
    text-align: center;
    color: var(--dark-green);
    font-weight: 400;
    font-family: var(--font-family);
    font-size: 1.8rem;
    position: absolute;
    top: 32%;
}

.concept-text h1, .concept-text p {
    width: 80%;
    padding: 1% 0.1% 0% 2.5%;
    margin: 0;
}

.left-main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
    align-content: center;
    padding-bottom: 2%;
}

.bunny_container {
    padding-left: 1rem;
    display: flex;
    height: 42%;
    
    display: flex;
    align-items: flex-end;
    gap: 4rem;
}

.bunny {
    height: auto;
    width: 35%;
    margin-left: 4rem;
}

.start_btn {
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.start-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
}

.start-game-container:hover {
    scale: 1.1;
    margin-bottom: 1rem;
}

.start-game-container:hover > p {
    width: 100%;
}

.start-game-container:active {
    scale: 0.9;
}

.start-game-container p {
    position: absolute;
    padding-bottom: 2rem;
    width: 40%;
    
    text-align: center;
    font-size: 4rem;
    color: var(--dark-green);
    user-select: none;
}

.speech_container {
    position: relative;
    box-sizing: border-box;
    height: 48%;
    padding: 16% 15% 0 15%;
}

.speech_bubble {
    width: 100%;
    height: 100%;
}

.right-main-box {
    display: grid;
    grid-template-rows: repeat(5, 6.8rem);
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    padding: 14rem 5.6rem 0 5.6rem;

    width: 60%;
    height: 100%;
    color: var(--dark-green);

}

.letter-container {
    position: relative;
    background-size: cover;
    height: 77%;
    width: 60%;

    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.letter-container:hover {
    scale: 1.1;
}

.letter-container:active {
    scale: 0.9;
}

.letter {
    font-size: 3.9rem;
    z-index: 10;
    bottom: -3.3rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

@media (-webkit-device-pixel-ratio: 1.25) {
    :root {
        zoom: 0.788;
    }

    .start-game-container p {
        top: 2.5rem;
    }

    .bg_container {
        height: 74.3%;
        row-gap: 0.05rem;
    }

    .right-main-box img {
        margin-right: 1.48rem;
        margin-left: 1.41rem;
    }
}