:root {
  --font-family: 'Itim', cursive;

  --dark-green: #406b65;
  --light-green: #78c1a3;
  --lighter-green: #9fd7bb;
  --lightest-green: #c0e8c3;
  --white-green: #c6dfc9;
  --light-cyan: #cbebef;
  --peach-bg: #ffede4;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--peach-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}